#HomeBanner {
  background-image: url("../../public/Banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
